/* MODAL TO SELECT MODEL AND LOADER */
LoaderModal {
    align: center middle;
}
LoaderModal Grid {
    width: 50%;
    height: auto;
    grid-size: 2 4;
    grid-rows: 3 3 3 3;
    border: $success heavy;
    padding: 1 1 0 1;
}
LoaderModal Select {
    column-span: 2;
}
LoaderModal Placeholder {
    column-span: 2;
    width: 0;
}
LoaderModal LoadingIndicator {
    column-span: 2;
    height: 100%;
}
LoaderModal Button {
    width: 100%;
    margin: 0 1 0 1;
}

/* MODAL TO SELECT TEMPLATE AND FRONTEND */
LayoutModal {
    align: center middle;
}
LayoutModal Grid {
    width: 50%;
    height: auto;
    grid-size: 2 4;
    grid-rows: 3 3 3 3;
    border: $success heavy;
    padding: 1 1 0 1;
}
LayoutModal Select {
    column-span: 2;
}
LayoutModal Placeholder {
    column-span: 2;
    width: 0;
}
LayoutModal Button {
    width: 100%;
    margin: 0 1 0 1;
}

/* MODAL TO ALERT NO MODEL IS LOADED YET */
NoModelScreen {
    align: center middle;
}
NoModelScreen Grid {
    width: 40%;
    height: auto;
    grid-size: 1 2;
    grid-rows: 4 3;
    border: $warning heavy;
}
NoModelScreen Label {
    text-align: center;
    width: 100%;
    margin: 1 0 1 0;
}
NoModelScreen Button {
    width: 100%;
    margin: 1 10 0 10;
}

/* FRONTENDSINGLEPANEL STYLE */
FrontendSinglePanel TextArea {
    border: $accent heavy;
}
FrontendSinglePanel Input {
    display: none;
}

/* FRONTEND BASE STYLE */
FrontendBase Input {
    margin: 1 0 1 0;
    padding: 0 0 0 1;
}
FrontendBase Label {
    width: 100%;
    margin: 0 1 1 1;
}
FrontendBase Rule {
    margin: 0 2;
}

/* FRONTEND DUAL STYLE */
FrontendDualPanels Grid {
    grid-size: 1 2;
}
FrontendDualPanels TextArea {
    border: $primary heavy;
}
FrontendDualPanels VerticalScroll {
    border: $primary heavy;
}

/* FRONTENDCHAT STYLE */
FrontendChat {
    # background: red;
}
FrontendChat Static {
    padding: 0 1 0 1;
}
FrontendChat Input {
    margin: 1 1 1 1;
    padding: 0 1 0 1;
}
FrontendChat Static.human {
    border: heavy $accent;
    margin: 0 0 0 4;
}
FrontendChat Static.model {
    border: heavy $success;
    margin: 0 4 0 0;
}

/* SETTINGS */
GlobalSettings VerticalScroll{
    padding: 2 1 0 1;
    border: heavy $warning;
}
GlobalSettings Horizontal {
    width: 100%;
    height: auto;
    align: center middle;
}

GlobalSettings Horizontal Label{
    height: 3;
    content-align: center middle;
    width: auto;
}

/* EXLLAMAV2 SETTINGS */
ExLlamaV2Settings > Grid {
    grid-size: 4 2;
    align: center middle;
    height: auto;
}
ExLlamaV2Settings > Grid #label_title {
    border: heavy $accent;
    column-span: 4;
    width: 90%;
    text-align: center;
}
ExLlamaV2Settings > Grid #label_model {
    column-span: 1;
    content-align: center middle;
    width: 100%;
    height: 3;
}
ExLlamaV2Settings > Grid > Input {
    column-span: 3;
    width: auto;
}

ExLlamaV2Settings > VerticalScroll > Grid {
    grid-size: 2;
    height: auto;
}

/* AWQ SETTINGS */
AWQSettings > Grid {
    grid-size: 4 2;
    align: center middle;
    height: auto;
}
AWQSettings > Grid #label_title {
    border: heavy $accent;
    column-span: 4;
    width: 90%;
    text-align: center;
}
AWQSettings > Grid #label_model {
    column-span: 1;
    content-align: center middle;
    width: 100%;
    height: 3;
}
AWQSettings > Grid > Input {
    column-span: 3;
    width: auto;
}

AWQSettings > VerticalScroll > Grid {
    grid-size: 2;
    height: auto;
}